.xl-text {
  font-size: 65px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../images/hero_1-_1_.webp") left center no-repeat;
  background-size: cover;
  height: 600px;
}

.vertical-decoration {
  top: 12%;
  width: 24px;
}

.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}

nav img {
  border-radius: 50%;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.8;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.div1 {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/events_1\ \(1\).webp") center center no-repeat;
  background-size: cover;
}
.div2 {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/events_1\ \(4\).webp") center center no-repeat;
  background-size: cover;
}
.div3 {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/events_1\ \(3\).webp") center center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/events_1\ \(1\).webp") center center no-repeat;
  }

  .map {
    width: 200px;
    height: 200px;
  }

  .invitation-bg {
    margin: 10px;
  }
}
